# Ensemble Learning

## Initial Imports

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [4]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [5]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
loans_binary_encoded = pd.get_dummies(df, columns=["home_ownership", "verification_status", "issue_d", "pymnt_plan", "hardship_flag", "debt_settlement_flag", "initial_list_status", "next_pymnt_d", "application_type"])
loans_binary_encoded.head()

,loan_amnt,int_rate,installment,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,issue_d_Mar-2019,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App
0,10500.0,0.1719,375.35,66000.0,low_risk,27.24,0.0,0.0,8.0,0.0,...,1,1,1,1,0,1,0,1,1,0
1,25000.0,0.2000,929.09,105000.0,low_risk,20.23,0.0,0.0,17.0,1.0,...,1,1,1,1,0,1,0,1,1,0
2,20000.0,0.2000,529.88,56000.0,low_risk,24.26,0.0,0.0,8.0,0.0,...,1,1,1,1,0,1,0,1,1,0
3,10000.0,0.1640,353.55,92000.0,low_risk,31.44,0.0,1.0,10.0,1.0,...,1,1,1,1,0,1,0,1,1,0
4,22000.0,0.1474,520.39,52000.0,low_risk,18.76,0.0,1.0,14.0,0.0,...,1,1,1,1,0,1,0,1,1,0

## Split the Data into Training and Testing

In [6]:
# Create our features
X = loans_binary_encoded.copy()
X.drop(columns="loan_status", axis=1, inplace=True)

# Create our target
y = loans_binary_encoded["loan_status"]

In [7]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.0,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,1.0,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.0,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,1.0,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,1.0,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,1.0,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# Check the balance of our target values
y.value_counts()

In [8]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, stratify=y)
X_train.shape

(51612, 95)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [9]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [10]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [11]:
# Scale the training and testing data
X_trained_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [12]:
# Resample the training data with the BalancedRandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators = 100, random_state = 1)
rf_model = rf_model.fit(X_trained_scaled, y_train)
predictions = rf_model.predict(X_test_scaled)

In [13]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, predictions)

0.6721509119257406

In [14]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm

array([[   30,    57],
       [    9, 17109]], dtype=int64)

In [15]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.77      0.34      1.00      0.48      0.59      0.32        87
   low_risk       1.00      1.00      0.34      1.00      0.59      0.37     17118

avg / total       1.00      1.00      0.35      1.00      0.59      0.37     17205

In [16]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
listed = sorted(zip(rf_model.feature_importances_, X.columns), reverse = True)
listed

[(0.07936121562149863, 'total_rec_prncp'),
 (0.07401408638872921, 'total_pymnt'),
 (0.0701693495867042, 'last_pymnt_amnt'),
 (0.06492081195507861, 'total_pymnt_inv'),
 (0.0550516525689793, 'total_rec_int'),
 (0.022235656642070212, 'out_prncp_inv'),
 (0.022229324678032118, 'installment'),
 (0.017221186859577253, 'mo_sin_old_rev_tl_op'),
 (0.016984055830073078, 'out_prncp'),
 (0.016096864684151734, 'mo_sin_old_il_acct'),
 (0.015609994674434125, 'dti'),
 (0.014917878880358608, 'max_bal_bc'),
 (0.014705528930233662, 'bc_util'),
 (0.014697823353914851, 'total_rec_late_fee'),
 (0.014560146349046604, 'bc_open_to_buy'),
 (0.014378528235387121, 'loan_amnt'),
 (0.01415821576853316, 'total_bal_ex_mort'),
 (0.013126135210175997, 'annual_inc'),
 (0.01290711342460069, 'total_bal_il'),
 (0.012762836097355226, 'tot_cur_bal'),
 (0.012562490786361147, 'revol_bal'),
 (0.012550676623020326, 'total_bc_limit'),
 (0.012543239303251545, 'total_rev_hi_lim'),
 (0.012389957670028373, 'total_acc'),
 (0.012372997707065807, 'total_il_high_credit_limit'),
 (0.012175645347204106, 'tot_hi_cred_lim'),
 (0.011631373774869416, 'mths_since_recent_bc'),
 (0.011623230528066648, 'int_rate'),
 (0.011617585163693711, 'all_util'),
 (0.01143662899350701, 'avg_cur_bal'),
 (0.010914832582384877, 'mths_since_rcnt_il'),
 (0.010865053065669037, 'il_util'),
 (0.010530964641681153, 'num_rev_accts'),
 (0.010480495678148096, 'mths_since_recent_inq'),
 (0.010112453398042225, 'num_il_tl'),
 (0.00991836225288202, 'mo_sin_rcnt_rev_tl_op'),
 (0.00978360835678787, 'num_actv_rev_tl'),
 (0.009617834313558128, 'mo_sin_rcnt_tl'),
 (0.009423274804971958, 'num_rev_tl_bal_gt_0'),
 (0.008544953641961457, 'acc_open_past_24mths'),
 (0.008327369750916948, 'open_acc'),
 (0.008296047070376102, 'pct_tl_nvr_dlq'),
 (0.00823225613791874, 'num_sats'),
 (0.008190103552715709, 'num_bc_tl'),
 (0.007576501492382707, 'mort_acc'),
 (0.007491937709976828, 'inq_last_12m'),
 (0.007260409019159254, 'total_cu_tl'),
 (0.0072365406397584455, 'num_op_rev_tl'),
 (0.007233239080941795, 'num_actv_bc_tl'),
 (0.007163521573591549, 'open_rv_24m'),
 (0.0069927377952123245, 'issue_d_Mar-2019'),
 (0.006733862224487777, 'open_il_24m'),
 (0.006651340520628906, 'num_bc_sats'),
 (0.006511743595723081, 'num_tl_op_past_12m'),
 (0.006110795870025985, 'issue_d_Jan-2019'),
 (0.005845168442208254, 'percent_bc_gt_75'),
 (0.0058424073849507275, 'inq_last_6mths'),
 (0.005540954383941376, 'inq_fi'),
 (0.005388037967989268, 'open_acc_6m'),
 (0.005349906599444776, 'open_act_il'),
 (0.0051650276473503955, 'open_rv_12m'),
 (0.004724916418057558, 'issue_d_Feb-2019'),
 (0.004204194685161855, 'next_pymnt_d_May-2019'),
 (0.004115646375758893, 'open_il_12m'),
 (0.003997287293735374, 'next_pymnt_d_Apr-2019'),
 (0.003977564599027013, 'num_accts_ever_120_pd'),
 (0.0038964218780444624, 'tot_coll_amt'),
 (0.0036810161169125344, 'delinq_2yrs'),
 (0.0026659575202735266, 'application_type_Individual'),
 (0.002407092810635806, 'application_type_Joint App'),
 (0.0023208674118775532, 'verification_status_Verified'),
 (0.002286643780857886, 'home_ownership_RENT'),
 (0.002099065259241495, 'pub_rec_bankruptcies'),
 (0.0020822739175033176, 'num_tl_90g_dpd_24m'),
 (0.002043678157961192, 'verification_status_Source Verified'),
 (0.0018951420166606354, 'home_ownership_OWN'),
 (0.00183681612050206, 'pub_rec'),
 (0.001668482783708277, 'home_ownership_MORTGAGE'),
 (0.001580406306306567, 'verification_status_Not Verified'),
 (0.0012899675600841474, 'initial_list_status_f'),
 (0.0010612685385288732, 'initial_list_status_w'),
 (0.0008653453513523677, 'collections_12_mths_ex_med'),
 (0.0006287092469936886, 'home_ownership_ANY'),
 (0.00032726301902460795, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [19]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
eec_model = EasyEnsembleClassifier(n_estimators = 100, random_state = 1)
eec_model = eec_model.fit(X_trained_scaled, y_train)
predictions = eec_model.predict(X_test_scaled)

In [20]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, predictions)

0.9250476409184122

In [21]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm

array([[   79,     8],
       [  992, 16126]], dtype=int64)

In [22]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.91      0.94      0.14      0.92      0.85        87
   low_risk       1.00      0.94      0.91      0.97      0.92      0.86     17118

avg / total       0.99      0.94      0.91      0.97      0.92      0.86     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    YOUR ANSWER HERE.

2. Which model had the best recall score?

    YOUR ANSWER HERE.

3. Which model had the best geometric mean score?

    YOUR ANSWER HERE.

4. What are the top three features?

    YOUR ANSWER HERE.